images/
weights.h5
*.npy
data/
train/
*.tiff
*.xml
*.zip
DEM/

.ipynb_checkpoints/
.DS_Store
*.csv
!Codes/seismogram_data_73_new.csv
!Codes/seismogram_data_73_new_robust.csv
*.pkl
*.eps
*.jpeg
data/
seismograms/
.vscode/
__pycache__/
robustness/
seismogram_v2/
seismograms_old/
seismogram_v2 copy/
seismogram_v2_reduced/
Codes/.~lock.seismogram_data_62.csv#

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml